body {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(57, 62, 70);
}
h1 {
  font-weight: 700;
}

.card {
  margin-top: 50px;
  margin: 0 auto;
  align-content: center;
  border-radius: 15px;
  background: #ffe8d6;
  border: none;
  box-shadow: 0px 3px 8px rgb(140, 147, 159, 30%);
}
.main {
  margin-right: calc(var(--bs-gutter-x) / 1);
  margin: 20px auto;
}
.form-control {
  display: inline;
  max-width: 300px;
  border-radius: 20px;
}
.search-button {
  border-radius: 20px;
  margin: 10px;
  color: #f9f6f7;
  background: #ff971d;
  box-shadow: 0px 1px 8px rgb(140, 147, 159, 30%);
}

.search-button:hover {
  background: #f9f6f7;
  color: #ff971d;
  transition: all ease-in-out 200ms;
}
button {
  background: #ff971d;
  border-radius: 20px;
  padding: 6px 12px;
  color: #ffff;
  border: none;
  box-shadow: 0px 1px 8px rgb(140, 147, 159, 30%);
}
button:hover {
  cursor: pointer;
  transition: all ease-in-out 200ms;
  background: #f9f6f7;
  color: #ff971d;
}
.card-title strong {
  color: #ff971d;
}

.day {
  color: #ff971d;
}
.row .forecast {
  border: 0;
}

#celsius {
  color: #ff971d;
  text-decoration: none;
}

#fahrenheit {
  color: rgb(57, 62, 70);
  text-decoration: none;
}
